#display1 {
    height:4em;
}

#display2 {
    height:10em;
}

#display1,
#display2 {
    width:20%;
    border:.1em solid blue;
}

#display1,
#display2,
#sendBase {
    display:block;
    margin:2em;
}